@font-face {
  font-family: 'finnaicons';
  src: url('../font/finnaicons.eot?84578603');
  src: url('../font/finnaicons.eot?84578603#iefix') format('embedded-opentype'),
       url('../font/finnaicons.woff2?84578603') format('woff2'),
       url('../font/finnaicons.woff?84578603') format('woff'),
       url('../font/finnaicons.ttf?84578603') format('truetype'),
       url('../font/finnaicons.svg?84578603#finnaicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'finnaicons';
    src: url('../font/finnaicons.svg?84578603#finnaicons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "finnaicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-checked:before { content: '\0e49'; } /* '้' */
.icon-journalarticle:before { content: '\e001'; } /* '' */
.icon-map:before { content: '\e002'; } /* '' */
.icon-physicalobject:before { content: '\e003'; } /* '' */
.icon-database:before { content: '\e004'; } /* '' */
.icon-musicalscore:before { content: '\e005'; } /* '' */
.icon-document:before { content: '\e006'; } /* '' */
.icon-smallpress:before { content: '\e007'; } /* '' */
.icon-image:before { content: '\e008'; } /* '' */
.icon-sound:before { content: '\e009'; } /* '' */
.icon-video:before { content: '\e00a'; } /* '' */
.icon-art:before { content: '\e00b'; } /* '' */
.icon-thesis:before { content: '\e00c'; } /* '' */
.icon-other:before { content: '\e00d'; } /* '' */
.icon-user:before { content: '\e00e'; } /* '' */
.icon-info-circle:before { content: '\e00f'; } /* '' */
.icon-search:before { content: '\e011'; } /* '' */
.icon-print:before { content: '\e012'; } /* '' */
.icon-plus-small:before { content: '\e013'; } /* '' */
.icon-heart:before { content: '\e015'; } /* '' */
.icon-pen:before { content: '\e016'; } /* '' */
.icon-plus-big:before { content: '\e018'; } /* '' */
.icon-minus:before { content: '\e019'; } /* '' */
.icon-reset:before { content: '\e01a'; } /* '' */
.icon-checked-file:before { content: '\e01b'; } /* '' */
.icon-search-small:before { content: '\e01c'; } /* '' */
.icon-user-comments:before { content: '\e01d'; } /* '' */
.icon-user-document:before { content: '\e01e'; } /* '' */
.icon-envelope:before { content: '\e01f'; } /* '' */
.icon-send-feedback:before { content: '\e020'; } /* '' */
.icon-list-alt:before { content: '\e021'; } /* '' */
.icon-background-arrow-up:before { content: '\e022'; } /* '' */
.icon-arrow-up-1:before { content: '\e023'; } /* '' */
.icon-background-arrow-right:before { content: '\e024'; } /* '' */
.icon-arrow-right-1:before { content: '\e025'; } /* '' */
.icon-background-arrow-down:before { content: '\e026'; } /* '' */
.icon-arrow-down-1:before { content: '\e027'; } /* '' */
.icon-background-arrow-left:before { content: '\e028'; } /* '' */
.icon-arrow-left-1:before { content: '\e029'; } /* '' */
.icon-collection-list:before { content: '\e02a'; } /* '' */
.icon-star-1:before { content: '\e02b'; } /* '' */
.icon-sitemap:before { content: '\e02c'; } /* '' */
.icon-check:before { content: '\e02d'; } /* '' */
.icon-remove:before { content: '\e02e'; } /* '' */
.icon-unhappy:before { content: '\e02f'; } /* '' */
.icon-stop:before { content: '\e030'; } /* '' */
.icon-bars-1:before { content: '\e031'; } /* '' */
.icon-grid:before { content: '\e032'; } /* '' */
.icon-cart:before { content: '\e033'; } /* '' */
.icon-list:before { content: '\e034'; } /* '' */
.icon-bell:before { content: '\e035'; } /* '' */
.icon-facebook:before { content: '\e036'; } /* '' */
.icon-twitter:before { content: '\e037'; } /* '' */
.icon-pinterest:before { content: '\e038'; } /* '' */
.icon-expand:before { content: '\e03a'; } /* '' */
.icon-external-link-alt:before { content: '\e03b'; } /* '' */
.icon-qr-code:before { content: '\e03c'; } /* '' */
.icon-bookmark:before { content: '\e03d'; } /* '' */
.icon-settings:before { content: '\e03e'; } /* '' */
.icon-files:before { content: '\e03f'; } /* '' */
.icon-public:before { content: '\e040'; } /* '' */
.icon-home:before { content: '\e041'; } /* '' */
.icon-sign-out:before { content: '\e042'; } /* '' */
.icon-holdings:before { content: '\e043'; } /* '' */
.icon-close:before { content: '\e044'; } /* '' */
.icon-close-big:before { content: '\e045'; } /* '' */
.icon-new-window:before { content: '\e046'; } /* '' */
.icon-sign-in:before { content: '\e047'; } /* '' */
.icon-search-adv:before { content: '\e600'; } /* '' */
.icon-info:before { content: '\e601'; } /* '' */
.icon-lock:before { content: '\e602'; } /* '' */
.icon-zoom-out:before { content: '\e603'; } /* '' */
.icon-backward:before { content: '\e604'; } /* '' */
.icon-forward:before { content: '\e605'; } /* '' */
.icon-zoom-in:before { content: '\e606'; } /* '' */
.icon-ratehalf:before { content: '\e607'; } /* '' */
.icon-info-database:before { content: '\e608'; } /* '' */
.icon-browse-database:before { content: '\e609'; } /* '' */
.icon-handle-left:before { content: '\e60a'; } /* '' */
.icon-finna-1:before { content: '\e60b'; } /* '' */
.icon-pin:before { content: '\e60c'; } /* '' */
.icon-journal:before { content: '\e60d'; } /* '' */
.icon-finna-street:before { content: '\e60e'; } /* '' */
.icon-star:before { content: '\e60f'; } /* '' */
.icon-question:before { content: '\e610'; } /* '' */
.icon-handle-right:before { content: '\e611'; } /* '' */
.icon-handle-close:before { content: '\e612'; } /* '' */
.icon-handle-open:before { content: '\e613'; } /* '' */
.icon-datevis:before { content: '\e614'; } /* '' */
.icon-www:before { content: '\e615'; } /* '' */
.icon-book:before { content: '\e616'; } /* '' */
.icon-ebook:before { content: '\e617'; } /* '' */
.icon-phone:before { content: '\e618'; } /* '' */
.icon-asterisk:before { content: '\e619'; } /* '' */
.icon-radio-button-checked :before { content: '\e61a'; } /* '' */
.icon-radio-button-unchecked:before { content: '\e61b'; } /* '' */
.icon-cc-sa:before { content: '\e800'; } /* '' */
.icon-fullscreen:before { content: '\e801'; } /* '' */
.icon-google+:before { content: '\e804'; } /* '' */
.icon-cc-by:before { content: '\e862'; } /* '' */
.icon-cc-nd:before { content: '\e864'; } /* '' */
.icon-cc-nc-eu:before { content: '\e865'; } /* '' */
.icon-cc-nc-jp:before { content: '\e866'; } /* '' */
.icon-cc-sampling:before { content: '\e867'; } /* '' */
.icon-cc-nc:before { content: '\e868'; } /* '' */
.icon-cc-zero-1:before { content: '\e869'; } /* '' */
.icon-cc-pd:before { content: '\e86a'; } /* '' */
.icon-cc-pd-alt:before { content: '\e86b'; } /* '' */
.icon-cc-remix:before { content: '\e86c'; } /* '' */
.icon-cc-share:before { content: '\e86d'; } /* '' */
.icon-cc-srr:before { content: '\e86e'; } /* '' */
.icon-cc-BY:before { content: '\e86f'; } /* '' */
.icon-cc-logo:before { content: '\e870'; } /* '' */
.icon-cc-by-nd:before { content: '\e871'; } /* '' */
.icon-cc-by-nc-eu:before { content: '\e872'; } /* '' */
.icon-cc-by-nc-nd-eu:before { content: '\e873'; } /* '' */
.icon-cc-by-nc-sa-eu:before { content: '\e874'; } /* '' */
.icon-cc-by-nc-jp:before { content: '\e875'; } /* '' */
.icon-cc-by-nc-nd-jp:before { content: '\e876'; } /* '' */
.icon-cc-by-nc-sa-jp:before { content: '\e877'; } /* '' */
.icon-cc-by-nc-sa:before { content: '\e878'; } /* '' */
.icon-cc-by-nc:before { content: '\e879'; } /* '' */
.icon-cc-publicdomain:before { content: '\e87a'; } /* '' */
.icon-cc-by-nc-nd:before { content: '\e87b'; } /* '' */
.icon-cc-by-sa:before { content: '\e87c'; } /* '' */
.icon-cc-ZERO:before { content: '\e87d'; } /* '' */
.icon-cc-ONE:before { content: '\e87e'; } /* '' */
.icon-cc-TWO:before { content: '\e87f'; } /* '' */
.icon-cc-THREE:before { content: '\e880'; } /* '' */
.icon-cc-FOUR:before { content: '\e881'; } /* '' */
.icon-cc-FIVE:before { content: '\e882'; } /* '' */
.icon-cc-SIX:before { content: '\e883'; } /* '' */
.icon-cc-SEVEN:before { content: '\e884'; } /* '' */
.icon-cc-EIGHT:before { content: '\e885'; } /* '' */
.icon-cc-NINE:before { content: '\e886'; } /* '' */
.icon-pagebreak:before { content: '\e8ab'; } /* '' */
.icon-fullscreen-exit:before { content: '\e8ac'; } /* '' */
.icon-zoom-all:before { content: '\e900'; } /* '' */
.icon-location-city:before { content: '\e901'; } /* '' */
.icon-box:before { content: '\e902'; } /* '' */
.icon-help-circle:before { content: '\e903'; } /* '' */
.icon-bars:before { content: '\e904'; } /* '' */
.icon-cc-cc:before { content: '\e905'; } /* '' */
.icon-plus-circle:before { content: '\e906'; } /* '' */
.icon-minus-circle:before { content: '\e907'; } /* '' */
.icon-arrow-left:before { content: '\e908'; } /* '' */
.icon-arrow-right:before { content: '\e909'; } /* '' */
.icon-arrow-up:before { content: '\e90a'; } /* '' */
.icon-arrow-down:before { content: '\e90b'; } /* '' */
.icon-arrow-left-circle:before { content: '\e90c'; } /* '' */
.icon-arrow-right-circle:before { content: '\e90d'; } /* '' */
.icon-arrow-left-circle-filled:before { content: '\e90e'; } /* '' */
.icon-arrow-right-32px-circle-filled:before { content: '\e90f'; } /* '' */
.icon-download:before { content: '\e910'; } /* '' */
.icon-play:before { content: '\e911'; } /* '' */
.icon-play-circle:before { content: '\e912'; } /* '' */
.icon-finna:before { content: '\e913'; } /* '' */
.icon-chevrons-left:before { content: '\e914'; } /* '' */
.icon-chevrons-right:before { content: '\e915'; } /* '' */
.icon-chevron-circle-up:before { content: '\e916'; } /* '' */
.icon-help-circle-large:before { content: '\e917'; } /* '' */
.icon-info-circle-large:before { content: '\e918'; } /* '' */
.icon-info-circle-large-filled:before { content: '\e919'; } /* '' */
.icon-chevron-circle-down:before { content: '\e91a'; } /* '' */
.icon-circle-filled:before { content: '\e91b'; } /* '' */
.icon-condense:before { content: '\e91c'; } /* '' */
.icon-basic-search:before { content: '\e91d'; } /* '' */
.icon-adv-search:before { content: '\e91e'; } /* '' */
.icon-oa:before { content: '\e91f'; } /* '' */
.icon-authority-corporatename:before { content: '\e921'; } /* '' */
.icon-authority-personalname:before { content: '\e922'; } /* '' */
.icon-authority-groupname:before { content: '\e923'; } /* '' */